{
  "package-uid": "FFmpeg",
  "package-name": "FFmpeg Wrapper for ArOZ Online",
  "package-description": "A wrapper for FFmpeg media converter on all ArOZ Online Host with GUI!",
  "versions":{
    "FFmpeg_28-8-2018.zip":{
      "target-AOBv":"AOB 26-8-2018",
      "download-url":"https://minhaskamal.github.io/DownGit/#/home?url=https://github.com/tobychui/FFmpeg-ArOZ-Online-Wrapper-/blob/master/versions/FFmpeg_28-8-2018.zip"
    }
  }
}
